<ion-content>
  <!-- <ion-card class="corpo"> -->
     <div class="row login">
      <div class="col">

        <ion-card no-padding>
        <ion-card class="cardTitulo" color="primary" no-padding>
          <br/>
          <ion-icon name="appname-customicon"></ion-icon>
          <h1 class="titulo">Controle de Acesso</h1>
          <br/>
        </ion-card>

        <ion-card-content>
          <form no-padding class='formConsulta' (ngSubmit)="logar()">
            <ion-item no-padding>
              <ion-label floating>Usuario</ion-label>
              <ion-input type="text" [(ngModel)]="usuarioLogin.user" name="login" clearInput required></ion-input>
            </ion-item>

            <ion-item no-padding>
              <ion-label floating>Senha</ion-label>
              <ion-input type="password" [(ngModel)]="usuarioLogin.password" name="senha" clearInput required></ion-input>
            </ion-item>

            <button ion-button icon-left full type="submit">
              <ion-icon name="log-in" left></ion-icon>
              &nbsp;&nbsp;&nbsp;Logar
            </button>
          </form>
        </ion-card-content>
        </ion-card>
      </div>
    </div>
  <!-- </ion-card> -->

</ion-content>