page-login {

  .login{
    display: table;
    margin: auto;
    width: 100%;
    max-width: 450px;
    vertical-align: middle;
    margin-top: calc((95vh - 380px)/2);
}

  .icone {
     font-size: 50px;
     text-align: center;
     mask-image: url('https://www.kpeyes.io/assets/img/icon-36.png');
  }

  .titulo{
    text-align: center;
  }

  ion-icon {
    &[class*="appname-"] {
        // Instead of using the font-based icons
        // We're applying SVG masks
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        width: 5em;
        height: 5em;
    }
    // custom icons
    &[class*="appname-customicon"] {
      mask-image: url('https://www.kpeyes.io/assets/img/icon-36.png');
    }
}

  .cardTitulo {
    text-align: center;
    align-content: center;
    align-items: center;
  }
  //
  // .corpo{
  //   margin-top: calc((95vh - 380px)/2);
  //   max-width: 450px;
  //
  // }
  //
  // @media (min-width: 450px) {
  //   .corpo{
  //     margin-left: calc((100vw - 450px)/2);
  //   }
  // }

}
