page-perguntas {
  .myCard {
    height: calc(100vh - 160px);
    min-height: calc(100vh - 160px);

    width: calc(100% - 20px);
    min-width: calc(100% - 20px);
  }

  .divPergunta {
    margin-top: 20px;
    margin-bottom: 20px;    
  }
}
