<ion-header>

  <ion-navbar>
    <ion-title>Perguntas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    
  <!-- [@buttonState]='state' -->
    <ion-card (swipe)="swipeEvent($event)" class="myCard" #myCard >
      <p>Restaurante: {{questService.questionario.restaurante.nome}}</p>
      <span>Sigla: {{questService.questionario.restaurante.sigla}}</span><br>
      <span>Questionário: {{questService.questionario.nome}}</span><br>     
      
      
      <div class="divPergunta">
        <p>{{pergunta.pergunta}}</p>
        <span>{{pergunta.peso}}</span>
      </div>
      
      <div *ngIf="pergunta.tipo == 1">
        <ion-item>
          <ion-label floating ion-text>Resposta:</ion-label>
          <ion-input type="text" [(ngModel)]="pergunta.resposta" name="resposta{{pergunta.idApi}}"></ion-input>
        </ion-item>
      </div>

      <div *ngIf="pergunta.tipo == 2">
        <ion-item>
          <ion-label floating ion-text>Resposta:</ion-label>
          <ion-input type="number" [(ngModel)]="pergunta.resposta" name="resposta{{pergunta.idApi}}"></ion-input>
        </ion-item>
      </div>
      
      <div *ngIf="pergunta.tipo == 3">
        <ion-item>
          <ion-label ion-text>Resposta:</ion-label>
          <ion-select [(ngModel)]="pergunta.resposta" name="resposta{{pergunta.idApi}}">
            <ion-option ion-text *ngFor="let opcao of pergunta.opcao" value={{opcao}} type="text">{{opcao}}</ion-option>
          </ion-select>
        </ion-item>
      </div>

      <div *ngIf="pergunta.tipo == 4">
        <ion-item>
          <ion-label ion-text>Resposta:</ion-label>
          <ion-select [(ngModel)]="pergunta.resposta" name="resposta{{pergunta.idApi}}">
            <ion-option ion-text *ngFor="let opcao of pergunta.opcao" value={{opcao}} type="text">{{opcao}}</ion-option>
          </ion-select>
        </ion-item>
      </div>

     
    </ion-card>

</ion-content>
