
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Restaurantes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <button ion-item *ngFor="let restaurante of restaurantes; let i = index" (click)='setRestaurante(restaurante)'>
      <p ion-text color="primary" class="nomeRestaurante">{{restaurante.nome}}</p>
      <span>{{restaurante.sigla}}</span>
    </button>
  </ion-list>
</ion-content>
