
<ion-header>

  <ion-navbar>
    <ion-title>questionarios</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p>Restaurante: {{questService.questionario.restaurante.nome}}</p>
  <span>Sigla: {{questService.questionario.restaurante.sigla}}</span>
  <br>
  <ion-list>
    <button ion-item *ngFor="let questionario of questionarios; let i = index" (click)='getQuestionario(questionario)'>
      <p ion-text color="primary" class="nomeQuest">{{questionario.questionario}}</p>
      <span>{{questionario.tipo}}</span>
    </button>
  </ion-list>
</ion-content>
